* {
  padding: 0;
  margin: 0;
}

p{
  font-size: 12px;
}

#header{
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  margin: 15px;

}

.header{
  display:inline;
  padding: 10px;
  
 
}

a{
  font-size: 12px;
  text-decoration: none;
}

a:link{
  color:grey;
}

a:visited{
  color:grey;
}
a:hover{
  text-decoration:aqua;
}
 .btn-1{
  padding: 5px;
   color: white;
   background-color: blue;
   border: none;
   border-radius: 5px;
   

}

#main-body{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:40px;

}

.location{
  padding: 15px;
  color: grey;
}
.google{
  padding-bottom: 30px;
  
}
.search-box{
  padding-left: 200px;
  padding-right: 200px;
  border: 1px solid grey;
  height:40px;
  border-radius: 20px;
}

.btn-2, .btn-3{
  margin-top: 30px;
  margin-bottom:50px;
  color: grey;
  background: transparent;
  border: none;
}

.btn-2{
  margin-left: 180px;

}

.btn-3{
  margin-left: 15px;
}

.cbn{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-bottom: 20px;
  
}

.footer{
  display: inline;
  padding: 12px
 
}